carousel {
  cursor: pointer;
}
:host {
  &>* {
    &::after {
      display: block;
      content: "";
      margin-block: 2rem;
    }
  }
}
slide img {
  display: block;
  width: 100%;
  max-height: 600px;
}
.carousel-caption {
  --bs-bg-opacity: .6;
  .genre:hover {
    text-decoration: underline;
  }
}
