<carousel
  [isAnimated]="true"
  data-hovered="false"
  (mouseenter)="$any($event.currentTarget).dataset.hovered = 'true'"
  (mouseleave)="$any($event.currentTarget).dataset.hovered = 'false'"
>
  <slide
    [routerLink]="['/s', session.id]"
    *ngFor="let session of carouselSessions$ | async; let i = index"
  >
    <img [src]="session.movie.coverUrl" [alt]="i" />
    <div class="carousel-caption bg-dark">
      <h1>
        {{ session.movie.name }}
      </h1>
      <p>
        <ng-container *ngFor="let genre of session.movie.genres; let i = index">
          <span class="genre">{{ genre.name }}</span>
          <span *ngIf="i !== session.movie.genres.length - 1"> · </span>
        </ng-container>
      </p>
    </div>
  </slide>
</carousel>
<ng-container *ngIf="sessions$ | async as sessions">
  <sessions-filter
    class="mx-auto d-block col-10 rounded-bottom mb-3 col-lg-8 p-2 border border-top-0 border border-dark"
  ></sessions-filter>
  <sessions-view
    [sessionCount]="sessionsCount"
    [sessions]="sessions"
  ></sessions-view>
</ng-container>
