<div class="container">
  <a class="navbar-brand" routerLink="/">Cinema X</a>

  <div class="navbar-nav" *ngIf="(auth$ | async) === 'client'">
    <a class="nav-link" routerLink="/bucket"
      >Бронювання <i class="bi bi-bucket"></i
    ></a>
  </div>
  <div class="navbar-nav" *ngIf="(auth$ | async) === 'admin'">
    <a class="nav-link" routerLink="/admin/sessions"
      >Сеанси <i class="bi bi-file-earmark-lock"></i
    ></a>
  </div>

  <progressbar
    [hidden]="loading$ | async"
    class="position-absolute w-100 start-0 bottom-0"
    type="danger"
    [style.height.rem]="0.5"
    [animate]="true"
    [striped]="true"
    [value]="100"
  ></progressbar>

  <div class="ms-auto d-flex">
    <search class="me-2"></search>
    <ng-container *ngIf="(auth$ | async) !== 'none'; else loggedOff">
      <button (click)="auth.logout()" class="btn btn-outline-danger">
        Вийти
      </button>
    </ng-container>
    <ng-template #loggedOff>
      <button class="btn btn-outline-secondary" routerLink="/login">
        Увійти
      </button>
    </ng-template>
  </div>
</div>
