<div class="d-inline-block fw-bold me-2">Жанри:</div>
<div
  class="form-check form-check-inline"
  *ngFor="let genre of genres$ | async; let i = index"
>
  <input
    [checked]="checkGenre(i + 1) | async"
    (change)="toggleGenre($any($event.target).value)"
    class="form-check-input"
    type="checkbox"
    [id]="i"
    [value]="genre.id"
  />
  <label class="form-check-label" [for]="i"> {{ genre.name }} </label>
</div>
<br />
<div class="d-inline-block fw-bold me-2">Дата:</div>
<div class="form-check form-check-inline">
  <input
    (change)="selectedDate = null"
    [checked]="selectedDate === null"
    class="form-check-input"
    type="radio"
    name="date"
    id="allTime"
  />
  <label class="form-check-label" for="allTime"> Найближчі </label>
</div>
<div class="form-check form-check-inline">
  <input
    (change)="selectedDate = countUntilNextWeekTime()"
    [checked]="
      selectedDate && selectedDate >= countUntilNextWeekTime() - 100000
    "
    class="form-check-input"
    type="radio"
    name="date"
    id="week"
  />
  <label class="form-check-label" for="week"> Цього тижня </label>
</div>
<div class="form-check form-check-inline">
  <input
    (change)="selectedDate = countUntilNextMonthTime()"
    [checked]="
      selectedDate && selectedDate >= countUntilNextMonthTime() - 100000
    "
    class="form-check-input"
    type="radio"
    name="date"
    id="month"
  />
  <label class="form-check-label" for="month"> Цього місяця </label>
</div>

<button (click)="navigate()" class="btn d-block ms-auto btn-primary">
  Filter
</button>
